@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body { 
    font-family: Roboto;
    margin: 0;
}

.section-1 { 
    background-color: #1f2937;
    
}

.header {
    display: flex; 
    align-items: center;
    justify-content: space-around;
}

.logo { 
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

ul { 
    display: flex;
    gap: 16px; 
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;
}