@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body { 
    font-family: Roboto;
    margin: 0;
}

.section-1 { 
    background-color: #1f2937;
}

.header {
    display: flex; 
    align-items: center;
    justify-content: space-around;
}

.logo { 
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

ul { 
    display: flex;
    gap: 16px; 
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;
}

.section-1 .content { 
    display: flex;
    justify-content: center;
    gap: 90px; 
    padding: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.section-1 .title { 
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.section-1 .subtext { 
    color: #e5e7eb;
    font-size: 18px;
}

button { 
    background-color: #3882f6;
    color: #f9faf8; 
    padding: 6px 20px;
    border: none;
    border-radius: 8px;
}

.section-1 .right { 
    background-color: grey;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    max-width: 500px;
}

.placeholder { 
    padding: 100px;
}

.section-1 .left { 
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 16px;
    max-width: 500px;
}

.section-2 .title { 
    color: #1f2937; 
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 50px;
}

.section-2 .content { 
    display: flex;
    justify-content: center;
    gap: 50px; 
    margin-left: 300px; 
    margin-right: 300px;
    margin-bottom: 150px;
}

.section-2 .item { 
    max-width: 200px;
    text-align: center;
}

.section-2 .text { 
    margin-top: 20px; 
}

.section-2 .image { 
    padding: 100px 100px;
    border: 5px #3882f6 solid;
    border-radius: 10px;
}

.section-3 { 
    background-color: #e5e7eb;
}

.section-3 .content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 10px;
}

.quote { 
    font-size: 36px;
    font-weight: 100px;
    text-align: left;
    color: #1f2937;
    margin-left: 200px;
    margin-right: 200px;
}

.author { 
    margin-left: 700px;
    text-align: right;
    margin-right: 200px;
    font-weight: bold;
}

.section-4 { 
    height: 500px;
}

.section-4 .content {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 50px;
    border-radius: 10px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
}

.section-4 .left { 
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.section-4 .title { 
    color: #e5e7eb;
    text-align: left;
}

